.menuContextoComp{
  width: 140px;
  background-color: lightgray;
}
.menuContextoComp ul{
list-style-type: none;
list-style-position: outside;
margin:0 !important;
padding:0px !important;
}
.menuContextoComp li{
  margin: 0px;
  padding: 5px;
  padding-left:10px;
  font-size: 16px;
}
.menuContextoComp li:hover{
background-color: gray;
cursor:pointer;
}
.menuContextoComp hr{
  size: 20px;
  margin: 0px;
  padding: 0px;
}
